{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script>
    function yourfunction(radioid)
{
if(radioid == 1)
{
   	document.getElementById('one').style.display = 'block';
    document.getElementById('two').style.display = 'none';
 }
 else if(radioid == 2)
{
	document.getElementById('one').style.display = 'none';
	document.getElementById('two').style.display = 'block';
}

}
  </script>
  <title>Program Manager Login</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'employees/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


  <!-- Custom styles for this template -->
<link href="{% static 'employees/css/heroic-features.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div>{{ user.username }}</div>
          </li>

          <li class="nav-item">
              <a class="tm-text-primary mb-3 tm-catalog-item-title" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div id="carouselExampleIndicators" class="carousel slide" style="height: 750px;" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators" >
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="height: 750px;">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'employees/images/pic1.jpg' %}" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'employees/images/pic2.jpg' %}" width="100%" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'employees/images/pic3.jpg' %}" alt="Third slide">
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container">

    <!-- Jumbotron Header -->
    <br>
    <br>
    <header class="section-header">
      <h3>List of All the Schools : </h3>
      <br>
      <br>
      <p></p>
    </header>
    <!-- Page Features -->
    <div class="lead">
    Filter the school by:

      <INPUT TYPE='radio' NAME='filter' VALUE='time' onClick="javascript:return yourfunction(1)"> Time
    <INPUT TYPE='radio' NAME='filter' VALUE='location' onClick="javascript:return yourfunction(2)"> Location
      </div>



<div class ="lead" id = "one" style = "display:none">

Month
<select name="school">
  <option name="month" value="january">January</option>
  <option name="month" value="february">February</option>
  <option name="month" value="march">March</option>
  <option name="month" value="april">April</option>
  <option name="month" value="may">May</option>
  <option name="month" value="june">June</option>
  <option name="month" value="july">July</option>
  <option name="month" value="august">August</option>
  <option name="month" value="september">September</option>
  <option name="month" value="october">October</option>
  <option name="month" value="november">November</option>
  <option name="month" value="december">December</option>

</select>

</div>


<div class= "lead" id = "two" style = "display:none">
City
<select name="school">
<option name="city" value="bengaluru">Bengaluru</option>
    <option name="city" value="hyderabad">Hyderabad</option>
    <option name="city" value="mumbai">Mumbai</option>
</select>
</div>
<br />
    <div class="row text-center">
      {% for school in schools %}
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="{% static 'employees/images/School1.jpeg' %}" alt="">
            <div class="card-body">
              <h4 class="card-title">{{ school.name }}</h4>
              <p class="card-text">{{ school.location }}</p>
            </div>
            <div class="card-footer">
              <a href="{% url 'tcher' %}" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
    <!-- /.row -->
    <br>
    <br> <br>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <br>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'employees/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'employees/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
