{% extends 'index.html' %}
{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Key Education Foundation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="{% https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700 %}" rel="stylesheet">
	<link href="{% https://fonts.googleapis.com/css?family=Roboto+Slab:300,400 %}" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% css/animate.css %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% css/icomoon.css %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% css/bootstrap.css %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% css/magnific-popup.css %}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% css/owl.carousel.min.css %}">
	<link rel="stylesheet" href="{% css/owl.theme.default.min.css %}">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% css/flexslider.css %}">

	<!-- Pricing -->
	<link rel="stylesheet" href="{% css/pricing.css %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% css/style.css %}">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<p class="site">https://www.keyeducationfoundation.org/</p>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="{% index.html %}"><i class="icon-study"></i>KEF<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li class="active"><a href="index.html">Home</a></li>
							<li><a href="profile.html">Profile</a></li>
							<li><a href="login.html">Logout</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>
	
	<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
		   	<li style="background-image: url(images/img_bg_1.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1>The Roots of Education are Bitter, But the Fruit is Sweet</h1>																		
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(images/img_bg_3.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1>Every child deserves a safe, happy and enriching childhood.</h1>																		
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(images/img_bg_2.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1>We Help You to Learn New Things</h1>																		
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>		   	
		  	</ul>
	  	</div>
	</aside>
	

	<div id="fh5co-course">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Our Courses</h2>
					
				</div>
			</div>
			<div class="column">
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(images/img_bg_4.png);">
						</a>
						<div class="desc">
							<h3><a href="#">Introduction to ECE</a></h3>
							<p>This section is the introductory course offered by Key Education Foundation on Early Childhood Education (ECE). It will give you all the principles, practices and skills required to effectively execute the Key Education Foundation curriculum in your classroom. </p>
							<span><a href="course.html" class="btn btn-primary btn-sm btn-course">View Course</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(images/project-21.jpg); ">
						</a>
						<div class="desc">
							<h3><a href="#">Physical Development</a></h3>
							<p>Materials and activities to ensure fine and gross motor development which is crucial in the early years</p>
							<span><a href="course.html" class="btn btn-primary btn-sm btn-course">View Course</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(images/project-3.jpg);">
						</a>
						<div class="desc">
							<h3><a href="#">Art and Creativity</a></h3>
							<p>A theme based approach in the curriculum to  encourage curiosity and build aesthetic sense in children</p>
							<span><a href="course.html" class="btn btn-primary btn-sm btn-course">View Course</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(images/project-4.jpg);">
						</a>
						<div class="desc">
							<h3><a href="#">KEF Curriculum</a></h3>
							<p>This section provides the course that will help get familiar with the curriculum offered by Key Education Foundation. It will guide you on how to use the student books and materials for children's holistic development. </p>
							<span><a href="course.html" class="btn btn-primary btn-sm btn-course">View Course</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div id="fh5co-course">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Courses Registered</h2>
					
				</div>
			</div>
			<div class="row">
				
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(images/project-3.jpg);">
						</a>
						<div class="desc">
							<h3><a href="#">Art and Creativity</a></h3>
							<p>A theme based approach in the curriculum to  encourage curiosity and build aesthetic sense in children</p>
							<span><a href="course.html" class="btn btn-primary btn-sm btn-course">View Course</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(images/project-4.jpg);">
						</a>
						<div class="desc">
							<h3><a href="#">KEF Curriculum</a></h3>
							<p>This section provides the course that will help get familiar with the curriculum offered by Key Education Foundation. It will guide you on how to use the student books and materials for children's holistic development. </p>
							<span><a href="course.html" class="btn btn-primary btn-sm btn-course">View Course</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div id="fh5co-course">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Courses Completed</h2>
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(images/img_bg_4.png);">
						</a>
						<div class="desc">
							<h3><a href="#">Introduction to ECE</a></h3>
							<p>This section is the introductory course offered by Key Education Foundation on Early Childhood Education (ECE). It will give you all the principles, practices and skills required to effectively execute the Key Education Foundation curriculum in your classroom. </p>
							<span><a href="course.html" class="btn btn-primary btn-sm btn-course">View Course</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(images/project-2.jpg);">
						</a>
						<div class="desc">
							<h3><a href="#">Physical Development</a></h3>
							<p>Materials and activities to ensure fine and gross motor development which is crucial in the early years</p>
							<span><a href="course.html" class="btn btn-primary btn-sm btn-course">View Course</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	</div>

	
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Count Down -->
	<script src="js/simplyCountdown.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
	
	</body>
</html>

